./services/user-service/node_modules
./services/user-service/.env

./services/restaurant-service/node_modules
./services/restaurant-service/.env

./services/order-service/node_modules
./services/order-service/.env

./services/delivery-service/node_modules
./services/delivery-service/.env

./services/payment-service/node_modules
./services/payment-service/.env

./services/notification-service/node_modules
./services/notification-service/.env

./frontend-service/node_modules
./frontend-service/.env